
  <body>
    <h1>Hi <%= @user.email %></h1>
    <p>
      Your orders have been successfully created.
    </p>
    <p>
    	Check the link belown for full detail
    </p>
    <%= link_to "My orders", orders_url %>
  </body>