

<div class="container">
	<%= render 'form' %>
</div>

<script type="text/javascript">
$('#event_starts_at').datetimepicker({format: 'DD-MM-YYYY HH:mm'});
 $('#event_ends_at').datetimepicker({format: 'DD-MM-YYYY HH:mm'});
</script>
