/*
 *= require font-kit-rails/open-sans
*/
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "font-awesome";
@import "col-helpers";
@import "nav";
@import "events";
@import "tickets";


.btn.btn-danger {
  background-color: rgb(216, 87, 66);
  border: 2px solid rgb(241, 112, 91);
}

main {
	padding-top: 54px;
}

.container {
	padding-top: 20px;
}

h1 {
	padding-bottom: 20px;
}

.alert {
	margin-top: 10px;
	margin-bottom: 10px;
}